<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production</title>
</head>
<body>
    <h1>Add new product</h1>
    <h4>ID Product:</h4>
    <input type="text" name="idsanpham" placeholder="Nhap vao id san pham ?">

    <h4>Product type:</h4>
    <input type="text" name="maloai" placeholder="Nhap vao ma san pham ?">

    <h4>Product name:</h4>
    <input type="text" name="tensp" placeholder="Nhap vao ten san pham ?">

    <h4>Price:</h4>
    <input type="text" name="dongia" placeholder="Nhap vao gia san pham ?">

    <h4>Image:</h4>
    <input type="text" name="hinh" placeholder="Nhap vao hinh san pham ?">

    <h4>Description</h4>
    <input type="text" name="noidung" placeholder="Nhap vao noi dung san pham ?">
</body>
</html>